<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Buat Pertandingan Baru</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <%- include('partials/_nav') %>

        <div class="container container-500">
            <h1>Buat Pertandingan Baru</h1>
            <form method="POST" action="/setup" autocomplete="off">
                <div class="form-group">
                    <label>Nama permainan:</label>
                    <select name="gameId" id="gamePreset" required>
                        <option value="" selected data-total-players="" data-max-score="" data-allow-negative=""
                            data-win-by-two="">- Pilih permainan -</option>
                        <% gamePresets.forEach(gp=> { %>
                            <option value="<%= gp._id %>" data-total-players="<%= gp.totalPlayers %>"
                                data-max-score="<%= gp.maxScore %>" data-allow-negative="<%= gp.allowNegative %>"
                                data-win-by-two="<%= gp.winByTwo %>">
                                <%= gp.name %>
                            </option>
                            <% }) %>
                    </select>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="">Skor maksimal: </label>
                            <span class="gdata" id="maxScore">&nbsp;</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="">Ada nilai negatif: </label>
                            <span class="gdata" id="allowNegative">&nbsp;</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="">Menang beda 2 poin: </label>
                            <span class="gdata" id="winByTwo">&nbsp;</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Nama Pemain:</label>
                    <div id="playerDiv">&nbsp;</div>
                </div>

                <div class="form-group">
                    <button type="submit" class="button">Mulai</button>
                    <a href="/" class="button button-back">Kembali</a>
                </div>
            </form>
        </div>
</body>
<script>
    const gameSelect = document.getElementById('gamePreset');
    const gdataClass = document.getElementsByClassName('gdata');

    gameSelect.addEventListener('change', (event) => {
        // change the innerHTML of each selected element
        for (var i = 0; i < gdataClass.length; i++) {
            gdataClass[i].innerHTML = "";
        }

        // Get selected value
        const selectedGame = event.target.options[event.target.selectedIndex];
        if (selectedGame.value) {
            // Ambil data-*
            const gameName = selectedGame.textContent;
            const { totalPlayers, maxScore, allowNegative, winByTwo } = selectedGame.dataset;

            document.querySelector('#maxScore').innerHTML = maxScore;
            document.querySelector('#allowNegative').innerHTML = (allowNegative === 'true') ? 'Ya' : 'Tidak';
            document.querySelector('#winByTwo').innerHTML = (winByTwo === 'true') ? 'Ya' : 'Tidak';

            // Set players
            document.querySelector('#playerDiv').innerHTML = '' // Clear
            for (let index = 0; index < totalPlayers; index++) {
                document.querySelector('#playerDiv').innerHTML += `<div class="form-group">
                        <input type="text" name="playerNames[]" placeholder="Pemain ${index + 1}" />
                    </div>`
            }
        }
    })
</script>

</html>