<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Preset Permainan</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <%- include('../partials/_nav') %>
        <div class="container">
            <h2>Daftar Preset Permainan</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nama Permainan</th>
                        <th>Jumlah Pemain</th>
                        <th>Skor Maksimal</th>
                        <th>Boleh Skor Negatif</th>
                        <th>Menang beda 2 poin</th>
                    </tr>
                </thead>
                <tbody>
                    <% list.forEach(g=> { %>
                        <tr>
                            <td>
                                <%= g.name %>
                            </td>
                            <td>
                                <%= g.totalPlayers %>
                            </td>
                            <td>
                                <%= g.maxScore %>
                            </td>
                            <td>
                                <%= (g.allowNegative) ? 'Ya' : 'Tidak' %>
                            </td>
                            <td>
                                <%= (g.winByTwo) ? 'Ya' : 'Tidak' %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>

            <a href="/game-presets/new" class="button">Preset Permainan Baru</a>
        </div>
</body>

</html>